{% extends "base.html" %}

{% block content %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div>
          {{ messages[0] }}
      </div>
  {% endif %}
  {% endwith %}

  <span class="retro-window-title"><h1>Upload new File</h1></span>
  <form method=POST action="{{ url_for('main.upload_file') }}" enctype=multipart/form-data>
    <!-- <input type=file name=file> </br> -->
    <input type="file" name="file" id="file">
    <label class="file-btn" for="file">
      Pick a file...
    </label>
    <input type=submit value=Upload>
  </form>

{% endblock %}
