{% extends "base.html" %}

{% block content_classes %}drop-window{% endblock %}

{% block content %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div>
          {{ messages[0] }}
      </div>
  {% endif %}
  {% endwith %}

  <span class="retro-window-title"><h1>Upload files</h1></span>

  <div id="drop-area" >
    <form method=POST action="{{ url_for('main.upload_file') }}" enctype=multipart/form-data>
        <p>Click here or drop files</p>
        <input type="file" name="file" id="file" multiple>
    </form>
  </div>

  <div id="message-area"></div>

 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script>
   const uploadUrl = "{{ url_for('main.index') }}";
 </script>
 <script src="{{ url_for('static', filename='js/file-upload.js') }}"></script>

{% endblock %}
