{% extends "base.html" %}

{% set title = 'Upload files' %}

{% block content_classes %}drop-window{% endblock %}

{% block content %}

  <div class="info-box icon">
    <p>Drop files on or click the square below to upload them. When uploading is finished, you will get a download link
      for each uploaded file.</p>
  </div>


  <div id="drop-area" >
    <form method=POST action="{{ url_for('main.upload_normal') }}" enctype=multipart/form-data>
        <p>Click here or drop files</p>
        <input type="file" name="file" id="file" multiple>
    </form>
  </div>

  <div id="message-area"></div>

 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script>
   const uploadUrl = "{{ url_for('main.upload_normal') }}";
 </script>
 <script src="{{ url_for('static', filename='js/file-upload.js') }}"></script>
 <script src="{{ url_for('static', filename='js/normal-upload.js') }}"></script>

{% endblock %}
