{% extends "base.html" %}

{% set title = 'Login required' %}

{% block content %}

<div class="login-window">


  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="info-box">
        <p>{{ messages[0] }}</p>
      </div>
  {% endif %}
  {% endwith %}

  <form method="POST" action="{{ url_for('main.login_post') }}">
    <input type="text" name="name" placeholder="username" autofocus=""> </br>

    <input type="password" name="password" placeholder="password"> </br>
    <button>Login</button>
    <input type="checkbox" name="remember"> Remember me
  </form>
</div>

{% endblock %}
