{% if current_user.is_authenticated %}
  {% set auth_btn = ({"text" : "Log out", "url" : url_for('main.logout') }) %}
{% else %}
  {% set auth_btn = ({"text" : "Log in", "url" : url_for('main.login') }) %}
{% endif%}

{% set nav_items =
[
  ({"text" : "Upload"     , "url" : url_for('main.index')})
, ({"text" : "File drop"  , "url" : ""                   })
, auth_btn
] %}

<nav id="site-nav">
  {% for item in nav_items %}
        <div class="nav-button {% if item.url == request.path %} current {% endif %}">
      <a href="{{ item.url }}" >{{ item.text }}</a>
    </div>
  {% endfor %}
</nav>

