body {
  background-color: #31427b;
  text-align: center;
  font-size: 12px;
  font-family: "Lucida Console", Monaco, monospace;
}

#content {
  text-align: left;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.retro-window {
  background-color: #dedede;
  padding: 5px;
  padding-top: 37px;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.7);
}
.retro-window, .retro-window span.retro-window-title {
  border: 6px solid black;
  border-image-source: url(../imgs/win-border.svg);
  border-image-slice: 8;
  border-image-outset: 1px;
}
.retro-window span.retro-window-title {
  background: repeating-linear-gradient(180deg, #dedede, #dedede 2%, #d1d1d1 12%, #9e9e9e 17%);
  text-align: center;
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  height: 20px;
}
.retro-window span.retro-window-title h1 {
  margin: 0;
  padding: 0 10px;
  font-size: 14px;
  line-height: 20px;
  background-color: #d1d1d1;
  display: inline-block;
}

.login-window {
  padding: 10px;
}

.outer-border, input[type=submit], button {
  box-shadow: 0 0 0 1px #111;
}

input, button, label.file-btn {
  margin: 5px 5px 5px 0;
  font-size: 1.2em;
  font-family: "Lucida Console", Monaco, monospace;
}

input[type=text], input[type=password] {
  border-color: black;
  padding: 4px 6px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}

progress {
  box-sizing: border-box;
  padding: 1px 0;
  border: 1px solid black;
  border-color: #9b9b9b #FEFEFE #FEFEFE #9b9b9b;
}

input[type=submit], button {
  color: black;
  margin: 2px 5px 2px 0;
  padding: 5px;
  background: #dedede;
  border-radius: 5px;
  border: 1px black solid;
  border-width: 2px;
  border-color: #FEFEFE #9b9b9b #9b9b9b #FEFEFE;
  text-align: center;
}
input[type=submit]:active, button:active {
  border-color: #9b9b9b #FEFEFE #FEFEFE #9b9b9b;
}
input[type=submit]:focus, button:focus {
  outline: none;
}

#content.drop-window {
  min-width: 350px;
  padding-bottom: 0;
}

#drop-area {
  text-align: center;
  padding: 100px 15px;
  border: 2px black solid;
  border-color: #9b9b9b #FEFEFE #FEFEFE #9b9b9b;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
}
#drop-area input[type=file] {
  display: none;
}
#drop-area.highlight, #drop-area:active {
  background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 0 4px, transparent 4px 8px);
}

#message-area {
  padding: 10px 0;
}
#message-area:empty {
  padding: 5px 0;
}
#message-area .message {
  font-weight: bold;
  padding: 7px 0;
  border-top: 1px #FEFEFE solid;
  border-bottom: 1px #9b9b9b solid;
}
#message-area .message:first-child {
  padding-top: 0;
  border-top: none;
}
#message-area .message:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
#message-area .message a, #message-area .message progress {
  font-weight: normal;
  display: block;
  float: right;
  margin-left: 20px;
}
#message-area .message .arrow {
  font-weight: normal;
}
#message-area .message.failure {
  color: red;
}

/*# sourceMappingURL=style.css.map */
