@use "sass:math"

$window-color: #dedede
$font-family: "Lucida Console", Monaco, monospace

$emboss-shadow: #9b9b9b
$emboss-highlight: #FEFEFE
$emboss-in:  $emboss-shadow $emboss-highlight $emboss-highlight $emboss-shadow
$emboss-out: $emboss-highlight $emboss-shadow $emboss-shadow $emboss-highlight

@mixin emboss($dir, $width)
  border: $width solid black
  @if $dir == 'in'
    border-color: $emboss-in
  @else if $dir == 'out'
    border-color: $emboss-out

@mixin outer-border($width)
  box-shadow: 0 0 0 $width #111

body
  background-color: #31427b
  text-align: center
  font-size: 12px
  font-family: $font-family

p
  line-height: 1.5em

#content
  text-align: left
  display: inline-block
  position: absolute

  // Centers the contents window
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

div.info-box
  position: relative
  background-color: #fdfdbf
  @include emboss(in, 1px)

  $padding-side: 10px
  $padding-top: 5px
  $icon-side: 25px
  padding: $padding-top $padding-side
  margin-bottom: 5px
  color: #333

  p
    margin: 0

  &.icon
    padding-left: $padding-side * 2 + $icon-side // make room for icon

    // Icon in :before
    &:before
      content: ''
      width: $icon-side
      height: $icon-side
      position: absolute
      top: $padding-top
      left: $padding-side
      background-image: url(../imgs/icon-info.svg)
      background-size: 100%


.retro-window
  $border-width: 6px
  $title-height: 20px
  $window-padding: 5px

  background-color: $window-color
  padding: $window-padding
  padding-top: $window-padding + $title-height + 2 * $border-width

  &, & span.retro-window-title
    border: $border-width solid black
    border-image-source: url(../imgs/win-border.svg)
    border-image-slice: 8
    border-image-outset: 1px // prevents edges from underlying from showing

  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, .7)

  span.retro-window-title

    $base-color: darken($window-color, 5%)
    $grad-bright : lighten($base-color, 5%)
    $grad-dark   : darken($base-color, 20%)

    background: repeating-linear-gradient(180deg, $grad-bright, $grad-bright 2%, $base-color 12%, $grad-dark 17%)
    text-align: center

    display: block
    position: absolute
    // top: -$border-width - 10px
    top: -$border-width
    left: -$border-width
    right: -$border-width
    height: $title-height

    & h1
      // font-family: times
      margin: 0
      padding: 0 10px
      font-size: 14px
      line-height: $title-height
      background-color: $base-color
      display: inline-block

.login-window
  padding: 10px

// FORMS -------------------------------------------


input, button, label.file-btn
  margin: 5px 5px 5px 0
  font-size: 1.2em
  font-family: $font-family

input[type=text], input[type=password]
  border-color: black
  padding: 4px 6px
  border-radius: 5px
  box-sizing: border-box
  width: 100%

// progress
//   box-sizing: border-box
//   padding: 1px 0
//   border: 1px solid black
//   border-color: $emboss-in

input[type=submit], button
  color: black

  margin: 2px 5px 2px 0
  padding: 5px
  background: $window-color

  border-radius: 5px
  border: 1px black solid
  @include emboss(out, 2px)
  @include outer-border(1px)

  text-align: center

  &:active
    @include emboss(in, 2px)

  &:focus
    outline: none

// FILE DROP AREA ------------------------------

#content.drop-window
  width: 500px
  padding-bottom: 0

#drop-area

  input[type=file]
    display: none

  text-align: center
  font-weight: bold

  margin-top: 10px
  padding: 100px 15px

  @include emboss(in, 2px)
  border-radius: 5px

  $bg       : rgba(0,0,0,0.05)
  $bg-darker: rgba(0,0,0,0.2)
  background-color: $bg

  &.highlight, &:active
    background-image: repeating-linear-gradient(-45deg, $bg 0 4px, transparent 4px 8px)

#message-area

  padding: 15px 0 10px 0

  &:empty
    padding: 5px 0

  .message
    padding: 10px 0
    border-top: 1px $emboss-highlight solid
    border-bottom: 1px $emboss-shadow solid

    .filename
      font-weight: bold
      display: inline-block

      // Abbreviates the filename if too long
      max-width: 150px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis

    &:first-child
      padding-top: 0
      border-top: none

    &:last-child
      padding-bottom: 0
      border-bottom: none

    a, .progress
      font-weight: normal
      display: block
      float: right
      margin-left: 20px

    &.failure
      color: red

div.progress
  @include emboss(in, 2px)
  border-radius: 2px
  height: 1em
  width: 150px

  div // The contents of the bar, with the moving stripes
    height: 100%
    $stripe-color: #333399
    $stripe-width: 8px // width of colored stripes
    $trans-width: 5px  // width of transparent stripes

    // This formula looks strange, so it is explained below
    $cycle-width: math.cos(45deg) * ($trans-width + $stripe-width) * 2

    //                                 /|#
    //                 #              / | #
    //                  #            /  |  #
    //                   #          /   |   #
    //                    #$stripe-width|    #
    //                     #      /     |     #     ( $h = $trans-width + $stripe-width )
    //    +-----------------#### / #####|#######-----------------#############+
    //    |#                 ## / ######|########                 ############|
    //    |##                 \/ #######|#########                 ###########|
    //    |###                /\########|##########                 ##########|
    //    |####              /  ########|###########                 #########|
    //    |#####            /    #######|############                 ########|
    //    |######          /      ######|#############                 #######|
    //    |#######  $trans-width   #####|##############                 ######|
    //    |########      /          ####|###############                 #####|
    //    |#########    /            ###|################                 ####|
    //    |##########  /(45°)         ##|########## (45°)\                 ###|
    //    +###########/----------------#|##################-----------------##+
    //                |                 |                 |
    //                <--$h * cos(45°)->|                 |
    //                |                                   |
    //                <----------2 * $h * cos(45°)--------> <- width of a cycle / period

    // background: <shading gradient>, <bars gradient> [SASS doesn't allow multiline expressions :(]
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0) 100%), repeating-linear-gradient(45deg, transparent 0 $trans-width, $stripe-color $trans-width $trans-width + $stripe-width)

    width: 0%
    transition: width 0.4s

    // this prevents artifacts when the background repeats
    background-size:  $cycle-width

    // animate the bar
    animation-name: bar
    animation-duration: .5s
    animation-timing-function: linear
    animation-iteration-count: infinite

    @keyframes bar
      from
        background-position-x: 0px
      to
        background-position-x: $cycle-width

