@use "vars" as *
@use "forms"
@use "upload"
@use "nav"

body
  background-color: #31427b
  text-align: center
  font-size: 12px
  font-family: $font-family

p
  line-height: 1.5em

#content
  text-align: left
  display: inline-block
  position: absolute

  // Centers the contents window
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

div.info-box
  position: relative
  background-color: #fdfdbf
  @include emboss(in, 1px)

  $padding-side: 10px
  $padding-top: 5px
  $icon-side: 25px
  padding: $padding-top $padding-side
  margin-bottom: 5px
  color: #333

  p
    margin: 0

  &.icon
    padding-left: $padding-side * 2 + $icon-side // make room for icon

    // Icon in :before
    &:before
      content: ''
      width: $icon-side
      height: $icon-side
      position: absolute
      top: $padding-top
      left: $padding-side
      background-image: url(../imgs/icon-info.svg)
      background-size: 100%


.retro-window
  $border-width: 6px
  $title-height: 20px
  $window-padding: 5px

  background-color: $window-color
  padding: $window-padding
  padding-top: $window-padding + $title-height + 2 * $border-width

  &, & span.retro-window-title
    @include retro-border($border-width)

  @include window-shadow

  span.retro-window-title

    // $base-color: darken($window-color, 5%)
    // $grad-bright : lighten($base-color, 5%)
    // $grad-dark   : darken($base-color, 20%)

    $base-color: rgba(0,0,0,0.1)
    $grad-bright : rgba(255,255,255,0.4)
    $grad-dark   : rgba(0,0,0,0.3)

    $wavy-gradient: repeating-linear-gradient(180deg, $grad-bright, $grad-bright 2%, $base-color 12%, $grad-dark 17%)
    background: $wavy-gradient, $shiny-gradient
    text-align: center

    display: block
    position: absolute
    // top: -$border-width - 10px
    top: -$border-width
    left: -$border-width
    right: -$border-width
    height: $title-height

    & h1
      // font-family: times
      margin: 0
      padding: 0 10px
      font-size: 14px
      line-height: $title-height
      background-color: darken($window-color, 2%)
      // background-color: $window-color
      display: inline-block

.login-window
  padding: 10px
